/* GLOBAL */
* { font-family: Poppins;
}

/* Menu */
.header-main{
    width: 100%;
    height: 60px;
    background-color: #f7f5f5;
    display:flex;
    justify-content: space-between;
}

.header-logo{
    width: fit-content;
    height: 100%;
    padding-left: 100px; 
    display: flex;
}

.header-logo img{
    height: 40px;
    align-self: center;
}

a {
    cursor: pointer;
}

.header-main nav ul {
    list-style: none;
    letter-spacing: 1px;
    padding-right: 100px;

}

.header-main nav ul li {
    display: inline;
    float:left;
    margin-right: 10px;
}

.header-main nav ul li a {
    padding: 0 10px;
    line-height: 60px;
}

.header-main nav ul li a:hover {
    text-decoration: underline;
    color: #ff8a25;

}

.header-main nav ul li a:visited {
    color: #344bf0;

}

/* Index - Main content */
main {
    padding: 40px 100px;   
}

.cards {
    padding: 10px 0px 10px 0px;
    max-width: 100%;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
    display:flex;
}

.card {
    background-color: white;
    border: 1px solid #f2f2f2;
    width: 254px;
    height: 450px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
}

.cards h4 {
    margin: 15px;
    text-overflow: ellipsis;
    cursor:pointer;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card button {
    font-size: 14px;
    color:white;
    border-radius: 10px;
    padding: 8px 16px;
    background-color: #40b59a;
    margin: 20px;
    cursor:pointer;
}

.icon-action {
    position: absolute;
    margin: 20px 20px 0px 20px;
}

.card img {
    margin-top: 40px;
}

i {
    cursor: pointer;
}

/* Contact - Main content */

.main-part {
    width:100%;
    display:flex;
}

.part-1 {
    width: 50%;
    position:relative;
    /* display:flex; */
    flex-flow: row wrap;
    justify-content: center;
    vertical-align: middle;
    padding: 40px 40px 40px 0px;
    margin-top:150px;
}

.part-2 {
    width: 50%;
    position: relative;
    display: flex;
    padding:40px; 
}

.container {
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 30px;
    width: 100%;
    color:black;
    
}

button[type=submit]{
    background-color: #ff8a25;
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    cursor:pointer;
    font-size: 16px;
    margin-top: 10px;
}

button[type=submit]:hover {
    background-color: #ff7700;   
}

input[type=text],textarea{
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    resize: vertical;
    margin-top: 10px;
}

.name, .tel, .email {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 10px;
}

/* .container {
    width:100%;
    height: 100%;
    background: #f2f2f2;
    justify-content: center;
    align-items: center;
}


#formulario {
    width: 300px;
    background:yellow;
    justify-content: center;
    align-items: center;
}

.body {
    margin: 0px;
} */
/*

.header-nav {
    background-color: #344bf0;
    overflow: hidden;
    text-align: left;
    position: fixed;
    top: 0;
    width: 100%;
        display: flex;
}

.header-nav {
    float: right; /*Put the menu on the right side of the page */
    /* text-align:center;
    color:white;
    padding: 14px 66px;
    display: block;
}
